<h1>Edit Rating for: {{ snack.name }}!</h1>

<!-- Used method override to make this form PUT, they normally can only POST and GET, e.g. "...?_method=PUT" -->
<form method="POST" action="/movies/{{ movie.id }}?_method=PUT" class="well">
  <div class="form-group">
    <label for="title">Title</label>
    <input name="title" type="text" class="form-control" value="{{ movie.title }}">
  </div>
  <div class="form-group">
    <label for="director">Director</label>
    <input name="director" type="text" class="form-control" value="{{ movie.director }}">
  </div>
  <div class="form-group">
    <label for="year">Year</label>
    <input name="year" type="number" class="form-control" value="{{ movie.year }}" min="1900" max="2099" step="1">
  </div>
  <div class="form-group">
    <label for="my-rating">My Rating</label>
    <input name="my-rating" type="number" class="form-control" value="{{ movie.my_rating }}"  min="1" max="5">
  </div>
  <div class="form-group">
    <label for="poster-url">Poster URL</label>
    <input name="poster-url" type="text" class="form-control" value="{{ movie.poster_url }}">
  </div>
  <div class="form-group">
    <input id="submit" type="submit">
  </div>
</form>
