<div class="container">
  <a href="/snacks/new">Add A New Fucking Snack</a>
  <h1>All Snack Reviews (INDEX)</h1>
  {{#each snacks}}
  <div class="row spacer">
    <div class="col-md-2">
      <img src="{{ this.image_url }}"
        alt="{{ this.name }}"
        class="poster" height="180">
    </div>
    <div class="col-md-6">
      <h2>
        <a href="/snacks/{{ this.id }}">{{ this.name }}</a>
      </h2>
      <p>{{ this.review_description }}</p>
      <p>Rating: {{ this.rating }}</p>
    </div>
    <form action="/snacks/{{ this.id }}/edit">
      <input type="submit" name="delete" value="Fucking Edit This Snack">
    </form>
    <form action="/snacks/{{ this.id }}?_method=DELETE" method="POST">
      <input type="submit" name="delete" value="Destroy this Snack">
    </form>
  </div>
  {{/each}}
</div>
